In [3]:
import math
import cooler
import numpy as np
import pandas as pd
import h5py
import dask
import dask.array as da
import dask.dataframe as dd
from dask.distributed import Client, LocalCluster
from dask.diagnostics import ProgressBar
from scipy import sparse

In [4]:
###### Idea 1: Read in pixel table as hdf5 and convert to dask dataframe
cool = 's38_221203_Granta519EBF1KI_cl27_0hr_MicroC_25U_Nova.mcool'
res = 5000
f = h5py.File(cool, 'a')
bin1 = da.from_array(f['/resolutions/{}/pixels/bin1_id'.format(res)], chunks=(3000000,))
bin2 = da.from_array(f['/resolutions/{}/pixels/bin2_id'.format(res)], chunks=(3000000,))
count = da.from_array(f['/resolutions/{}/pixels/count'.format(res)], chunks=(3000000,))
df = dd.concat([dd.from_dask_array(d) for d in [bin1, bin2, count]], axis=1)
cols = ['bin1','bin2','counts']
df_bins = df.rename(columns=dict(zip(df.columns, cols)))
df_bins

Dask DataFrame Structure:
                 bin1   bin2 counts
npartitions=70
0               int64  int64  int32
3000000           ...    ...    ...
...               ...    ...    ...
207000000         ...    ...    ...
207915424         ...    ...    ...
Dask Name: rename, 2 graph layers

In [5]:
def correct_upper_triangle(x):
    mask = x['bin1'].values != x['bin2'].values
    x.loc[mask, 'counts'] *= 4
    return x
with ProgressBar():
    corrected_pixels = df_bins.map_partitions(correct_upper_triangle).compute()

[########################################] | 100% Completed | 29.04 s

In [6]:
#corrected_pixels = df_bins.compute()

In [7]:
# Store full matrix size
mat_size = da.from_array(f['/resolutions/{}/bins/chrom'.format(res)]).size

In [8]:
clr = cooler.Cooler("{}::resolutions/{}".format(cool, res))
#clr.bins()[5000:5010]

In [9]:
mat = clr.matrix(balance=False, sparse=True)[:,:].tocsr()

In [10]:
rowsums = np.ravel(mat.sum(axis=1))
raw_sum = rowsums.sum()

In [11]:
# Apply transformation to pixel table (in CSR form as dataframe)
i = rowsums[corrected_pixels.bin1]
j = rowsums[corrected_pixels.bin2]
print(i, j)

[  27   27   27 ... 7068 7068 2891] [1581 1104 1221 ... 7068 2891 2891]

In [12]:
scaled_sum = ((corrected_pixels.counts) / (i*j)).sum()
scaled_sum

588.8480385814228

In [13]:
raw_sum = mat.sum()
raw_sum

1143064853

In [14]:
scale = np.sqrt(scaled_sum/raw_sum)
scale

0.0007177383976095415

In [16]:
scaled_rowsums = rowsums * scale
scaled_rowsums

array([0.        , 0.        , 0.01937894, ..., 0.        , 0.        ,
       0.        ])

In [18]:
#del f['resolutions/{}/bins/test_weights'.format(res)]
f.create_dataset('resolutions/{}/bins/test_weights'.format(res), data = scaled_rowsums)
f.close()

In [19]:
clr.bins()[1000:1050]

     chrom    start      end        KR        VC   VC_SQRT  test_weights
1000     1  5000000  5005000  0.786037  0.816663  0.785934      0.821810
1001     1  5005000  5010000  0.790358  0.810701  0.783060      0.816786
1002     1  5010000  5015000  0.772805  0.797076  0.776452      0.793101
1003     1  5015000  5020000  0.886132  0.952915  0.848969      0.933060
1004     1  5020000  5025000  0.770715  0.820069  0.787571      0.807456
1005     1  5025000  5030000  0.835658  0.880531  0.816088      0.867746
1006     1  5030000  5035000  0.796115  0.843913  0.798939      0.832577
1007     1  5035000  5040000  0.814779  0.847319  0.800550      0.839754
1008     1  5040000  5045000  0.797997  0.844765  0.799342      0.854109
1009     1  5045000  5050000  0.805485  0.839655  0.796921      0.821810
1010     1  5050000  5055000  0.765949  0.789412  0.772710      0.806020
1011     1  5055000  5060000  0.744034  0.766419  0.761374      0.748601
1012     1  5060000  5065000  0.803753  0.831139  0.792869      0.813198
1013     1  5065000  5070000  0.801867  0.846468  0.800147      0.828270
1014     1  5070000  5075000  0.814014  0.849874  0.801756      0.831141
1015     1  5075000  5080000  0.817135  0.841358  0.797729      0.836165
1016     1  5080000  5085000  0.701717  0.711919  0.733804      0.729222
1017     1  5085000  5090000  0.816832  0.847319  0.800550      0.848367
1018     1  5090000  5095000  0.810757  0.843061  0.798536      0.844778
1019     1  5095000  5100000  0.852215  0.886492  0.818846      0.879230
1020     1  5100000  5105000  0.794930  0.749388  0.752867      0.763674
1021     1  5105000  5110000  0.149140  0.126033  0.308750      0.132064
1022     1  5110000  5115000  0.401110  0.322748  0.494079      0.329442
1023     1  5115000  5120000  0.740599  0.677004  0.715583      0.684722
1024     1  5120000  5125000  0.726960  0.720434  0.738179      0.736400
1025     1  5125000  5130000  0.797968  0.800483  0.778109      0.803867
1026     1  5130000  5135000  0.679771  0.668488  0.711069      0.700513
1027     1  5135000  5140000  0.829316  0.831991  0.793275      0.808173
1028     1  5140000  5145000  0.770974  0.785154  0.770623      0.785206
1029     1  5145000  5150000  0.751907  0.769826  0.763064      0.778028
1030     1  5150000  5155000  0.771656  0.763865  0.760104      0.761520
1031     1  5155000  5160000  0.771443  0.716176  0.735995      0.740706
1032     1  5160000  5165000  0.657919  0.640386  0.695962      0.651706
1033     1  5165000  5170000  0.736475  0.716176  0.735995      0.729940
1034     1  5170000  5175000  0.704096  0.689778  0.722303      0.699077
1035     1  5175000  5180000  0.186334  0.145620  0.331875      0.153596
1036     1  5180000  5185000  0.843151  0.747685  0.752011      0.767262
1037     1  5185000  5190000  0.767127  0.771529  0.763908      0.792383
1038     1  5190000  5195000  0.790053  0.823475  0.789205      0.806738
1039     1  5195000  5200000  0.831946  0.884789  0.818059      0.882100
1040     1  5200000  5205000  0.854430  0.921407  0.834815      0.925883
1041     1  5205000  5210000  0.863880  0.918852  0.833657      0.907939
1042     1  5210000  5215000  0.758472  0.783451  0.769787      0.781617
1043     1  5215000  5220000  0.771506  0.789412  0.772710      0.792383
1044     1  5220000  5225000  0.742670  0.754497  0.755429      0.760803
1045     1  5225000  5230000  0.768152  0.808998  0.782237      0.821093
1046     1  5230000  5235000  0.900528  0.946102  0.845929      0.933778
1047     1  5235000  5240000  0.758520  0.774935  0.765592      0.789512
1048     1  5240000  5245000  0.602929  0.596956  0.671948      0.610078
1049     1  5245000  5250000  0.819737  0.832843  0.793681      0.838318

In [20]:
clr.matrix(balance='test_weights', divisive_weights=True, join=True, as_pixels=True)[5000:5050]

      chrom1    start1      end1 chrom2    start2      end2  count    balanced
0          1  25000000  25005000      1  25000000  25005000    266  511.230966
1          1  25000000  25005000      1  25005000  25010000    107  194.608066
2          1  25000000  25005000      1  25010000  25015000     20   40.792619
3          1  25000000  25005000      1  25015000  25020000      8   13.796647
4          1  25000000  25005000      1  25020000  25025000      3    5.272604
...      ...       ...       ...    ...       ...       ...    ...         ...
14374      1  25245000  25250000     21  35180000  35185000      1    0.664150
14375      1  25245000  25250000     21  37045000  37050000      1    0.552520
14376      1  25245000  25250000     21  42685000  42690000      1    0.620956
14377      1  25245000  25250000     21  42870000  42875000      1    0.555180
14378      1  25245000  25250000     21  45990000  45995000      1    0.771878

[14379 rows x 8 columns]

In [21]:
clr.matrix(balance='VC', divisive_weights=True, join=True, as_pixels=True)[5000:5050]

      chrom1    start1      end1 chrom2    start2      end2  count    balanced
0          1  25000000  25005000      1  25000000  25005000    266  453.851945
1          1  25000000  25005000      1  25005000  25010000    107  174.416035
2          1  25000000  25005000      1  25010000  25015000     20   37.320756
3          1  25000000  25005000      1  25015000  25020000      8   12.598629
4          1  25000000  25005000      1  25020000  25025000      3    4.953336
...      ...       ...       ...    ...       ...       ...    ...         ...
14374      1  25245000  25250000     21  35180000  35185000      1    0.634450
14375      1  25245000  25250000     21  37045000  37050000      1    0.508811
14376      1  25245000  25250000     21  42685000  42690000      1    0.585045
14377      1  25245000  25250000     21  42870000  42875000      1    0.506640
14378      1  25245000  25250000     21  45990000  45995000      1    0.728703

[14379 rows x 8 columns]